{% extends 'base.html' %}

{% block content %}

<!-- Flash message code -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <!--{{ message }}-->
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

	<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Employees</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="{{ url_for('add_employee') }}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<!--<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>-->
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Field</th>
						<th>Password</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
                    {% for our_employees in our_employees %}
					<tr>
						<td>{{ our_employees.id }}</td>
						<td>{{ our_employees.name | capitalize }}</td>
						<td>{{ our_employees.email }}</td>
						<td>{{ our_employees.field }}</td>
						<td>{{ our_employees.password_hash }}</td>
						<td>
							<a href="{{ url_for('update', id=our_employees.id) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="{{ url_for('delete', id=our_employees.id) }}" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
                    {% endfor %}

					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Total Records: <b>{{ rows }}</b></div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
    <br/>
{% endblock %}


